html,
body,
#root,
.bg,
canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #171717;
}

.bg {
  position: absolute;
/*  background: radial-gradient(at 50% 100%, #873740 0%, #272730 40%, #171720 80%, #070710 100%);*/
background: radial-gradient(at 50% 100%, #22E4AC 0%, #14C9CB 40%,#171720 80%, #070710 100%);
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-bar-container {
  width: 200px;
  height: 3px;
  background: #272727;
}

.loading-bar {
  height: 3px;
  background: white;
}

.title-head {
  position: absolute;
  top: 120px;
  left: 50%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 800;
  font-size: 14vw;
  transform: translate3d(-50%, 0, 0);
  margin: 0;
  color: #2AF598;/*peru*/
  line-height: 0.8em;
  letter-spacing: -2px;
  text-align: center;
}


.title-head > span {
  white-space: pre;
}

span.subline{
  color: black;
  position: absolute;
  top: 48vh;
  right: 10vw;
  font-size: 2vw;
  line-height: 0.4em;
  font-weight: 500;
  font-family: 'Josefin Sans', sans-serif;
}

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background: linear-gradient(0deg, rgba(63, 12, 88, 0.2) 0%, transparent 100%);
  pointer-events: none;
}

span.header {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  position: absolute;
  display: inline-block;
  width: 500px;
  transform: translate3d(0, -50%, 0);
  font-size: 9em;
  line-height: 0.9em;
  pointer-events: none;
  top: 350px;
  left: 50px;
}

span.header-left {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  position: absolute;
  display: inline-block;
  transform: translate3d(0, -50%, 0);
  line-height: 1em;
  top: 200px;
  left: 60px;
  font-size: 4em;
  width: 200px;
}


/*@media only screen and (max-width: 1000px) {
  .title-head {
    transform: translate3d(-50%, 0, 0);
    font-size: 8em;
    letter-spacing: -5px;
  }
}

@media only screen and (max-width: 500px) {
  .title-head {
    transform: translate3d(-50%, 0%, 0);
    font-size: 4em;
    letter-spacing: -5px;
  }
}*/

a.top-left {
  top: 40px;
  left: 60px;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  display: inline;
  text-decoration: none;
  z-index: 1;
}
