/*@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');*/

* {
    box-sizing: border-box;
  /*  font-family: 'Comfortaa', cursive; */
    padding: 100px auto;
}

.goalSection{
  width: 60%;
  border: 5px solid #00DBFF;

}
.goalHead{
  background-color: white;
  color: #00DBFF;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 5px;
  padding-top: 10px;
}


.goalSubline{
  background-color: white;
  font-size: 12px;
  padding: 5px 10px 15px;
}

.addGoal{
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.addGoalButton{
  padding: 10px 15px;
  color:  #00DBFF;
  border: 2px solid  #00DBFF;
  margin-left: 15px;
  font-size: 12px;
}

.addGoalButton:hover{
  background-color: black;
}

.addGoalButton::selection{
  border: 2px solid  #00DBFF;
}

.addGoalText{
  padding: 10px;
  height: 50%;
  width: 40%;
  border: 2px solid black;
}

.goals {
    display: flex;
    width: 100%;
    justify-content: center;
    background: white;
    padding-top: 40px;
    padding-bottom: 40px;
}
.goals .column {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}


.droppable-col {
    width: 100%;
    background:  rgba( 255, 255, 255, 0.25 );
/*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );*/
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 2px solid #d3d3d3;
    padding: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;

}

.item {
    margin-bottom: 10px;

    background-color:#00DBFF;
    color: white;
    border: 1px solid white;
    padding: 25px;
    border-radius: 7px;
}

.item.dragging {
    background-color: coral;
}
